a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

/*start popup*/
#room-settings{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    border: 1px solid black;
    border-radius: 10px;
    z-index: 10;
    background-color: #404040;
    width: 500px;
    max-width: 70%;
}

#room-settings.active{
    transform: translate(-50%, -50%) scale(1);
}

.modal-header{
    padding:10px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.modal-title {
    font-size: 1.25rem;
    font-weight: bold;

}

.modal-close{
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    font-size: 1.25rem;
    font-weight: bold;
}

.modal-body{
    padding: 10px 15px;
}

#modal-overlay{
    position: fixed;
    opacity: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0, .5);
    pointer-events: none;

}

#modal-overlay.active{
    opacity: 1;
    pointer-events: all;
}

#private-room-checkbox{
    padding-left: 10px;
}
/*end popup*/

#invisible{
    opacity: 0;
}

#invisible.active{
    opacity: 1;
}