#main-row {
  height: 100vh;
}

#control-panel {
  height: 20%;
  width: 100%;
}

#playlist {
  flex: 0.5;
}

#online-users {
  flex: 0.5;
}

table th {
  width: 5%;
}

table th,
td {
  padding: 3px 15px !important;
}

i {
  cursor: pointer;
}

.user_box {
  cursor: pointer;
  margin: 5px;
}

#playlist_thumbnail {
  width: 30%;
  position: absolute;
  bottom: 160px;
  display: none;
}

/* Chat */

#chat {
  padding: 15px;
  font-size: 0.8em;
  overflow-y: auto;
  height: 650px;
  width: 100%;
  max-width: -webkit-fill-available;
}

.message-box {
  overflow-wrap: anywhere;
}

.message-text {
  background-color: dimgray;
  border-radius: 0px 29px 29px 29px;
  padding: 10px;
}

.message-author {
  font-style: italic;
}

.timestamp {
  font-size: 0.8em;
}

.owner > .message-author {
  text-align: right;
}

.owner > .message-text {
  background-color: rgb(58, 122, 206);
  border-radius: 29px 0px 29px 29px;
}
