{% extends 'base.html' %}

<!-- DataTables -->
{% block head %}
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/table.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/main.css') }}">
{% endblock %}

{% block body %}

    <div class="container mt-5">

        <div class="input-container">
                    <button class="pure-button">Create Room</button>
                </div>
                <div id="room-settings">
                    <div class="modal-header">
                        <div class="modal-title">Room Settings</div>
                        <button class="modal-close">&times;</button>
                    </div>
                    <div class="modal-body">
                            <input type="text" class="form-control" aria-label=""
                   aria-describedby="inputGroup-sizing-default" id="videoLink" placeholder="Video link">
                            </br>
                        <input type="checkbox" id="private-room-checkbox">
                            <label for="checkbox">Private</label><br>
                            <div id="invisible">
                                <input type="text" class="form-control" aria-label=""
                   aria-describedby="inputGroup-sizing-default" id="password" placeholder="Password(can be blank)">
                            </div>
                            </br>
                        <input type="text" class="form-control" aria-label=""
                   aria-describedby="inputGroup-sizing-default" id="Name" placeholder="Name">
                    </br>
                            <button type="button" class="btn btn-dark" name="createRoom">Create Room</button>
                    </div>
                </div>
        <div id="modal-overlay">
                </div>
        <button type="button" class="btn btn-dark" name="createRoom">Create Room</button>

        <table id="example" class="display stripe wrap" style="width:100%">
            <thead>
            <tr>
                <th>Room Name</th>
                <th>Current Video</th>
                <th>Online Users</th>
                <th>Creator</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>First room</td>
                <td>;skadfjklsadfjkl;asdjklfasdjklf;</td>
                <td>5</td>
                <td>biba</td>
            </tr>
            <tr>
                <td>Airst room</td>
                <td>;skadfjklsadfjkl;asdjklfasdjklf;</td>
                <td>5</td>
                <td>biba</td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="container">

        <ul class="list-group">
            {% for name, link in rooms %}
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    <a href="room/{{ link.decode() }}">{{ name.decode() }}</a>
                </li>
            {% endfor %}

        </ul>

    </div>

{% endblock %}

{% block js %}
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
    <script>
        $(document).ready(function() {

            let table = $('#example').DataTable({
                "bLengthChange": false,
                "pagingType": "simple"
            });
        } );
    </script>
{% endblock %}
