<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"
            integrity="sha512-v8ng/uGxkge3d1IJuEo6dJP8JViyvms0cly9pnbfRxT6/31c3dRWxIiwGnMSWwZjHKOuY3EVmijs7k1jz/9bLA=="
            crossorigin="anonymous"></script>
    <!-- CSS only -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <link rel="stylesheet" href="{{ url_for('static', filename='styles/main.css') }}">

    <!-- JS, Popper.js, and jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
            integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
            integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>
<body>
    <div class="container mt-5">

        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroup-sizing-default">Video Link</span>
            </div>
            <input type="text" class="form-control" aria-label=""
                   aria-describedby="inputGroup-sizing-default" id="videoLink" placeholder="Video link">
            <input type="text" class="form-control" aria-label=""
                   aria-describedby="inputGroup-sizing-default" id="password" placeholder="Password(can be blank)">
            <input type="text" class="form-control" aria-label=""
                   aria-describedby="inputGroup-sizing-default" id="Name" placeholder="Name">
        </div>

        <button type="button" class="btn btn-dark" name="createRoom">Create Room</button>
    </div>
<div class="container">

    <ul class="list-group">
        {% for i in rooms %}
            <li class="list-group-item d-flex justify-content-between align-items-center">
                <a href="room/{{ i.decode() }}">{{ i.decode() }}</a>
            </li>
        {% endfor %}

    </ul>

</div>
</body>

<script src="{{ url_for('static', filename='js/main.js') }}"></script>

</html>