{% extends 'base.html' %}

{% block body %}

    {% if error != None %}
    <p>{{ error }}</p>
    {% endif %}
    <form method="POST">
        {{ form.csrf_token }}

        {% if not password_check == '' %}
        </br>
        {{ form.password.label }} {{ form.password }}
        </br>
        {% endif %}
        {% for e in form.password.errors %}
        <span style="color: red;">*{{ e }}</span>
        {% endfor %}
        </br>
        {{ form.name.label }} {{ form.name }}
        </br>
        {{ form.color.label }} {{ form.color }}
        <input type="submit" value="Go">
    </form>
{% endblock %}
