{% extends 'base.html' %}

{% block body %}

    {% if error != None %}
    <p>{{ error }}</p>
    {% endif %}
    <center>
<form action="password" method="POST" class="col-2">
    {{ form.csrf_token }}

    {% if not password_check == '' %}
    </br>
    {{ form.password.label }} {{ form.password(class="form-control") }}
    </br>
    {% endif %}
    {% for e in form.password.errors %}
    <div class="alert alert-danger">
        <h4 class="alert-heading">
    *{{ e }}
</h4>
</div>
    {% endfor %}
    </br>
    {{ form.name.label }} {{ form.name(class="form-control") }}
    </br>
    {{ form.color.label }} {{ form.color }}
</br>
    <input class="btn btn-primary" type="submit" value="Go">
</form>
</center>
{% endblock %}
