{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='styles/password.css') }}">
{% endblock %}

{% block body %}
<div class="mainContainer">
<div class="container2 col-2">
    <form>
        {{ form.csrf_token }}
        
        {% if not password_check == '' %}
        {{ form.password.label }} {{ form.password(class="form-control") }}
        {% endif %}

        {% for e in form.password.errors %}
        <div class="alert alert-danger">
            <h4 class="alert-heading">
                *{{ e }}
            </h4>
        </div>
        {% endfor %}

        {{ form.name.label }} {{ form.name(class="form-control") }}
        <input class="btn btn-primary" type="submit" value="Go">
    </form>
</div>
</div>

{% endblock %}
